
<% @users.each do |user| %>
    <p class="user"> <%= user.first_name %> <%= user.last_name %> | <%= link_to user.user_name, user %></p>
    <p class="member_since"> Member Since: <%= user.created_at.strftime("%m-%d-%Y") %> </p>
    <hr>
<% end %>