<h1> Welcome to Good Reads! </h1>

<p>
    <%= link_to "Log in!", login_path, class: "btn btn-lg btn-primary" %>
</p>

<p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</p>